[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
  {% set BED = params.BED|default(100)|float %}
  {% set EXTRUDER = params.EXTRUDER|default(240)|float %}
  {% set SOAK = params.SOAK|default(0)|float %}
  
  BED_MESH_CLEAR   
  LIGHT_RED 

  M106 S255          ; set print fan to full speed to avoid melting fan ducts
  M104 S180          ; pre-heat nozzle non-blocking
  M140 S{BED}        ; Pre-heat bed non-blocking

  CG28             ; Home all axes

  PARK_CENTER Z=20   # Positino Nozzle at center to help preheat chamber
  SET_NEVERMORE_SPEED SPEED=1
  M117 Heating bed...
  M190 S{BED}        ; heat bed
  
  {% if (SOAK|int) > 0 %}
    M117 Starting Soak
    LIGHT_ORANGE
    {% for timer in range( SOAK|int,0,-1) %}
      #we cycle once a minute, so we can send an update to keep octoprint happy, rather than just sleeping for the entire soak
      M117 Soak: {timer|int}m remaining
      
      M105
      G4 P60000 # Wait 1 minute
          
    {% endfor %}
  M117 Soak Complete
  {% endif %}

  LIGHT_BLUE
  QUAD_GANTRY_LEVEL CALIBRATE=false
  
  # Prepare nozzle for cleaning and calibration
  M117 Heating Extruder for calibration
  M106 S255                 ; set print fan to full speed to avoid melting fan ducts
  M109 S{EXTRUDER}          ; Set and wait for nozzle to reach temperature
  G4 P60000                 ; Wait 1 minutes that oozes stop
  clean_nozzle PURGE=false  ; clean nozzle
  M117 Waiting oozing...
  G4 P60000                 ; Wait 1 minute that oozes stop
  clean_nozzle PURGE=false  ; clean nozzle

  M117 Calibrate Z
  CALIBRATE_Z

  M117 Bed Mesh
  BED_MESH_CALIBRATE
  
  LIGHT_GREEN
  clean_nozzle PURGE=true   ; Purge nozzle
  
  SET_NEVERMORE_SPEED SPEED=0.5
  LIGHT_WHITE

  G90                         ; Use absolute coordinates
  M117 Starting Print

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    {% set BED = params.BED|default(0)|float %}
    SET_NEVERMORE_SPEED SPEED=1
  
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M140 S{BED}                    ; keep bed heat to chain prints
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0 X45 Y308 F3600            ; park nozzle at rear
    BED_MESH_CLEAR
    M117 Print Complete
    CASELIGHT                     ; kill lights
    

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 


[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}


[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE


#####################################################################
#  BED OFFSET
#####################################################################
[gcode_macro TEXTURED_PLATE_OFFSET]
gcode:
  SET_GCODE_OFFSET Z_ADJUST=-0.1 MOVE=1

#####################################################################
#  OTHER
#####################################################################

[gcode_macro PARK_CENTER]
gcode:
    {% set Z = params.Z|default(30)|float %}
    SAVE_GCODE_STATE NAME=PARKCENTER_state
    CG28                          ; Home if not already homed
    G90                            ; absolute positioning
    G0 X150 Y150 Z{Z} F12000       ; move to center
    RESTORE_GCODE_STATE NAME=PARKCENTER_state

[gcode_macro PARK_BUCKET]
gcode:
    {% set Z = params.Z|default(30)|float %}
    SAVE_GCODE_STATE NAME=PARKBUCKET_state
    CG28                          ; Home if not already homed
    G90                            ; absolute positioning
    G0 Y280 Z{Z} F12000       
    G0 X50 Z{Z} F12000       
    G0 Y308 Z{Z} F12000       
    RESTORE_GCODE_STATE NAME=PARKBUCKET_state

[gcode_macro UNSTRESS_PRINT]
gcode:
  M106 S255                 ; set print fan to full speed to avoid melting fan ducts
  M190 S105                 ; heat bed
  {% for timer in range( 15,0,-1) %}
    #we cycle once a minute, so we can send an update to keep octoprint happy, rather than just sleeping for the entire soak
    M118 Unstressing: {timer|int}m remaining
    
    M105
    G4 P60000             ; Wait 1 minute
        
  {% endfor %}
  TURN_OFF_HEATERS
  G4 P60000               ; Wait 1 minute
  M106 S0                 ; set print fan to off
