######## Filament change
[gcode_macro M600]
gcode:
    M117 Filament change
    PAUSE
    PARK_BUCKET Z=-1
	SET_IDLE_TIMEOUT TIMEOUT={12*60*60} ## Timeout 12H when filament change triggered
    ##UNLOAD
    ## wait for filament change
    ## purge & clean nozzle

[gcode_macro LOAD]
variable_status: 0
variable_extruder_target_temp: 180

default_parameter_DISTANCE: 49 #AB
#default_parameter_DISTANCE: 105 #galileo

gcode:
    {% if not printer.idle_timeout.state == "Printing" %} 
		{% if (printer.extruder.temperature + 5) > printer["gcode_macro load"].extruder_target_temp %}
			SAVE_GCODE_STATE NAME=load_state
			# go in purge zone
			move_to_purge
			
			# advance filement
			M83
			G1 E{DISTANCE} F250
			G1 E20 F250
			
			# retract a little
			G1 E-5 F3600
			
			# cleaning
			clean_nozzle
			
			M82
			RESTORE_GCODE_STATE NAME=load_state
			
			#Set load filament status
			SET_GCODE_VARIABLE MACRO=load VARIABLE=status VALUE=1
		{% else %}
			M117 Low extruder temp 
		{% endif %}
	{% endif %}
	UPDATE_DELAYED_GCODE ID=clear_display DURATION=5

	
[gcode_macro UNLOAD]
default_parameter_DISTANCE: 49 #AB
#default_parameter_DISTANCE: 105 #galileo

gcode:
    {% if not printer.idle_timeout.state == "Printing" %} 
		{% if (printer.extruder.temperature + 5) > printer["gcode_macro load"].extruder_target_temp %}

			SAVE_GCODE_STATE NAME=unload_state
			
			M117 Unloading

			G1 E-20 F3600                   ; Retract past heatbreak
			G4 P3000                        ; Cooling wait
			G1 E{DISTANCE|float * -1} F3000 ; Unload proper
			
			M117 Unloaded
			
			#Set unload filament status
			SET_GCODE_VARIABLE MACRO=load VARIABLE=status VALUE=0
			RESTORE_GCODE_STATE NAME=unload_state
		{% else %}
			M117 Low extruder temp 
		{% endif %}
	{% endif %}
	UPDATE_DELAYED_GCODE ID=clear_display DURATION=5

